<h1>Welcome to Star Li's Blocipedia</h1>
<p id="index-title">This is the home page for Star Li's Blocipedia</p>

<div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>

<section>I am the content in a section element.</section>